.body-signup {
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100%;
}

html,
body {
    font-family: open-sans, sans-serif;
    background-color: #f6f7f8;
    box-sizing: border-box;
}

.main-container-join {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    max-height: 1080px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.red-border {
    border: 1px solid red;
}

.container-join-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.join-logo {
    width: 100px;
    height: 121px;
    margin-left: 50px;
    margin-top: 50px;
}

.join-logo-container-signup {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    max-width: 1920px;
    width: 100%;
    max-height: 150px;
}

.failure-signup-div {
    color: red;
    font-size: 14px;
    margin-top: -20px;
    height: 10px;
    z-index: 2;
}

.display-none {
    display: none;
}

.signup-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 598px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.hr-line-signup {
    height: 2.5px;
    width: 120px;
    border-radius: 30px;
}

.title-text-arrow-div {
    display: flex;
    width: 100%;
}

.title-text-div-headline {
    margin-bottom: 0px;
    margin-top: 0px;
}

.signup-underline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 30px;
    width: 100%;
    left: 38%;
    transform: translateX(-50%);
}

.arrow-left {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.arrow-left:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.underline-headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 48px;
}

.underline-headline-container a {
    position: absolute;
    left: 50px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 61px;
    font-weight: 700;
    width: 100%;
    height: 630px;
    border-radius: 30px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
}

.signup-content {
    width: 315px;
    height: 89px;
    gap: 16px;

}

.signup-inputfield-container {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 326px;
    margin-top: 32px;
    gap: 34px;
}

.signup-title {
    width: 315px;
    height: 89px;
    Gap: 16px
}

.underline-text-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    background-color: white;
}

.inputfield-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    cursor: pointer;
    font-size: 16px;
}

.inputfield-name:focus {
    border: 1px solid #29ABE2;
    outline: none;
}


.inputfield-email {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    cursor: pointer;
    font-size: 16px;
}

.inputfield-email:focus {
    border: 1px solid #29ABE2;
    outline: none;
}


.inputfield-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}

.inputfield-password:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.inputfield-confirm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}

.grey-border {
    border: 1px solid #A8A8A8;
}

.inputfield-confirm:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.email-icon-size {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 37px;
    left: 390px;
}

.name-icon-size {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 40px;
    left: 390px;
}

.lock-icon-size-first {
    position: relative;
    width: 16px;
    height: 16px;
    left: 390px;
    bottom: 37px;
}

.eye-icon-size-postition {
    position: absolute;
    width: 18px;
    height: 18px;
    right: -27px;
    top: 85%;
    transform: translateY(-50%);
    z-index: 5;
}

.eye-icon-size-postition-confirm {
    position: absolute;
    width: 18px;
    height: 18px;
    right: -27px;
    top: 85%;
    transform: translateY(-50%);
    z-index: 5;
}

.lock-icon-size-second {
    position: relative;
    width: 16px;
    height: 16px;
    left: 390px;
    bottom: 37px;
}


.inputfield::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 21px;
}

.name-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 7px;
}

.email-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 7px;
}

.password-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 7px;
}

.Confirm-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    height: 24px;
    justify-content: space-between;
    position: relative;
}

.person-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 475px;
    background-color: #FFFFFF;
}

.mail-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.lock-first {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.lock-second {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

.privacy-policy-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 24px;
    background-color: #FFFFFF;
    top: 30px;
}

.privacy-policy-accept-button {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #2A3647;
    border-radius: 3px;
    background: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.privacy-policy-accept-button::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 14px;
    left: 6px;
    top: -6px;
    border: solid #2A3647;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 2.5px;
    z-index: 3;
    opacity: 0;
}

.privacy-policy-accept-button:checked::after {
    opacity: 1;
}

.privacy-policy-accept-button::before {
    content: "";
    position: absolute;
    right: -2px;
    top: -2px;
    width: 2px;
    height: 8px;
    background: #fff;
    z-index: 2;
    opacity: 0;
}

.privacy-policy-accept-button:checked::before {
    opacity: 1;
}

.text-accept {
    width: 90px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
    top: 2.5px;
    left: 32px;
    background-color: #FFFFFF;
}

.text-privacy-policy {
    height: 19px;
    font-size: 16px;
    color: #29ABE2;
    top: 2.5px;
    left: 126px;
    gap: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.sign-up-button-container {
    font-size: 21px;
    border-radius: 8px;
    width: 126px;
    height: 55px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #2A3647;
    bottom: 40px;
    cursor: pointer;
    border: transparent;
    bottom: 15px;
    margin-top: 20px;
}

.sign-up-button-container:hover {
    background-color: #29ABE2;
    border: none;
}

.box-privacy-legal-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    max-width: 1920px;
    padding-top: 50px;
}

.privacy-text {
    width: 130px;
    height: 35px;
    gap: 8px;
    color: #A8A8A8;
    text-decoration: none;
}

.privacy-text:hover {
    cursor: pointer;
    color: #29ABE2;
}

.Legal-text {
    width: 120px;
    height: 35px;
    gap: 8px;
    left: 137px;
    padding: 8px;
    color: #A8A8A8;
    text-decoration: none;
}

.Legal-text:hover {
    cursor: pointer;
    color: #29ABE2;
}

.blue-underline-headline {
    width: 130px;
    height: 3px;
    background-color: #29ABE2;
    margin-top: 8px;
    border-radius: 30px;
}

.signed-up-sucess-button {
    height: 50px;
    width: 220px;
    background-color: #2A3647;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-position-success-message {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
    opacity: 0;
    z-index: 11;
}

.show-success {
    animation: fly-up 0.6s ease-out forwards;
}

.gray-background-for-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 104%;
    z-index: 10;
}

.gray-background-for-body-effect {
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0.30);
}

.failure-signup-div-message {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: -30px;
}

.failure-signup-div-message-name-signup {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 44px;
}

.failure-signup-div-message-email-signup {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 44px;
}

.failure-signup-div-message-password-signup {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 44px;
}

.failure-signup-div-message-password-confirm-signup {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 44px;
}

.failure-signup-div-message-all-fields-signup {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 45px;
}

.red-border {
    border: 1px solid red;
}

.grey-border {
    border: 1px solid #A8A8A8;
}

@keyframes fly-up {



    0% {
        bottom: -80px;
        opacity: 0;
    }

    100% {
        bottom: 50%;
        opacity: 1;
    }
}

@media screen and (min-width: 2560px) {
    .arrow-box {
        left: 44%
    }
}



@media screen and (min-width: 2100px) {
    .arrow-box {
        left: 42%
    }
}

@media screen and (min-width: 1920px) {
    .body-signup {}
}

@media screen and (max-width: 1000px) and (min-height: 1080px) {
    .join-logo-container-signup {
        position: fixed;
    }
}

@media screen and (max-width: 1000px) and (max-height: 1080px) {

    .main-container-join {
        height: 100vh;
    }

    .privacy-text {
        width: 130px;
        height: 35px;
        gap: 8px;
        padding: 8px;
        color: #A8A8A8;
        text-decoration: none;
        font-size: 16px;
    }

    .text-accept {
        font-size: 16px;
        line-height: 120%;
        width: 90px;
        height: 19px;
        width: 90px;
    }

    .text-privacy-policy {
        font-size: 16px;
        line-height: 120%;
        font-weight: 700;
        padding-left: 2px;
    }


    .blue-underline-headline {
        width: 88px;
    }

    .join-logo-container-signup {
        display: flex;
        position: unset;
        padding-top: 0px;
        align-items: center;
        min-height: 150px;
    }

    .join-logo {
        width: 64px;
        height: 78.03px;
    }

    .signup-main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        height: 600px;
        border-radius: 30px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 0px;
        box-sizing: border-box;
        background-color: #f6f7f8;
    }

    .padding-main-container {
        padding-top: 50px;
        width: 95%;
    }

    .title {
        text-align: center;
        font-size: 61px;
        background-color: #FFFFFF;
        font-weight: 700;
        top: 37px;
    }

    .box-privacy-legal-notice {
        width: 272px;
        height: 35px;
        margin-bottom: 40px;
        padding-top: 50px;
    }

    .hr-line-signup {
        height: 3.5px;
        width: 10%;
        border-radius: 30px;
    }

    .arrow-box {
        position: absolute;
        transform: translateY(-100%);
        top: 30%;
        left: 23%;
        width: 32px;
        height: 32px;
        background-color: #FFFFFF;
    }

    .arrow-left {
        width: 32px;
        height: 32px;
    }

    .title {
        text-align: center;
        font-size: 61px;
        background-color: #FFFFFF;
        font-weight: 700;
    }

    .title-text-div-headline {
        width: 100%;
        text-align: center;
        font-size: 47px;
    }

    .signup-inputfield-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 326px;
        margin-top: 32px;
        gap: 34px;
    }

    .name-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 24px;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .inputfield-name {
        display: flex;
        flex-direction: column;
        height: 48px;
        background-color: #FFFFFF;
        border-width: 1px;
        gap: 8px;
        border-radius: 10px;
        padding-top: 12px;
        padding-right: 21px;
        padding-bottom: 12px;
        padding-left: 21px;
    }

    .name-icon-size {
        position: relative;
        width: 20px;
        height: 20px;
        bottom: 42px;
    }

    .email-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 24px;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .inputfield-email {
        display: flex;
        flex-direction: column;
        height: 48px;
        background-color: #FFFFFF;
        border-width: 1px;
        gap: 8px;
        border-radius: 10px;
        padding-top: 12px;
        padding-right: 21px;
        padding-bottom: 12px;
        padding-left: 21px;
    }

    .email-icon-size {
        position: relative;
        width: 23px;
        height: 23px;
        bottom: 42px;
    }

    .password-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 24px;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .inputfield-password {
        display: flex;
        flex-direction: column;
        height: 48px;
        border-width: 1px;
        gap: 8px;
        border-radius: 10px;
        padding-top: 12px;
        padding-right: 21px;
        padding-bottom: 12px;
        padding-left: 21px;
        background-color: #FFFFFF;
    }

    .lock-icon-size-first {
        position: relative;
        width: 20px;
        height: 20px;
        bottom: 42px;
    }

    .lock-icon-size-second {
        position: relative;
        width: 20px;
        height: 20px;
        bottom: 42px;
    }

    .Confirm-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: 24px;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .inputfield-confirm {
        display: flex;
        flex-direction: column;
        height: 48px;
        border-width: 1px;
        gap: 8px;
        border-radius: 10px;
        padding-top: 12px;
        padding-right: 21px;
        padding-bottom: 12px;
        padding-left: 21px;
        background-color: #FFFFFF;
    }

    .privacy-policy-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 24px;
        background-color: #FFFFFF;
        top: 50px;
        min-width: 227px;
    }

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
    }

    .eye-icon-size-postition {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 96.5%;
        top: 97%;
        transform: translateY(-50%);
        z-index: 5;
    }

    .eye-icon-size-postition-confirm {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 96.5%;
        top: 97%;
        transform: translateY(-50%);
        z-index: 5;
    }

    @keyframes fly-up {
        0% {
            bottom: -80px;
            opacity: 0;
        }

        100% {
            bottom: 25%;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1000px) {

    html,
    body {
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        padding-left: 40px;
    }

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {
        position: absolute;
        top: 90%;
        right: 40px;
        transform: translateY(-50%);
        left: auto;
    }

    .hr-line-signup {
        width: 15%;
    }

    .arrow-box {
        left: 14%;
    }

    .eye-icon-size-postition {
        position: absolute;
        top: 90%;
        right: 40px;
        transform: translateY(-50%);
        left: auto;
    }

    .eye-icon-size-postition-confirm {
        position: absolute;
        top: 90%;
        right: 40px;
        transform: translateY(-50%);
        left: auto;
    }
}

@media screen and (max-width: 800px) {
    .signup-main-container {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .padding-main-container {
        padding-top: 200px;

    }

}

@media screen and (max-width: 700px) {

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {}

    .hr-line-signup {
        width: 20%;
    }

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
    }

    .arrow-box {
        left: 10%;
    }

    .eye-icon-size-postition {
        position: absolute;
        top: 90%;
        right: 40px;
        transform: translateY(-50%);
        left: auto;
    }

    .eye-icon-size-postition-confirm {
        position: absolute;
        top: 90%;
        right: 40px;
        transform: translateY(-50%);
        left: auto;
    }
}

@media screen and (max-width: 700px) {
    .signup-main-container {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .box-privacy-legal-notice {
        min-height: unset;
        padding-top: 50px;
        padding-bottom: 20px;
        margin-top: unset;
        margin-bottom: unset;
    }

    .signup-main-container {
        width: 100%;
    }

    .failure-signup-div-message-all-fields-signup {
        left: 0px;
    }

    .underline-headline-container a {
        left: 8px;
    }

    .title-text-div-headline {
        font-size: 47px;
    }

    .blue-underline-headline {
        width: 60px;
    }

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {}

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
    }

    .hr-line-signup {
        width: 25%;
    }

    .arrow-box {
        left: 9%;
    }

    .eye-icon-size-postition {}

    .eye-icon-size-postition-confirm {}
}

@media screen and (max-width: 400px) {

    .privacy-policy-accept-button {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid #2A3647;
        border-radius: 3px;
        background: none;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {}

    .hr-line-signup {
        width: 30%;
    }

    .inputfield-name,
    .inputfield-email,
    .inputfield-password,
    .inputfield-confirm {
        font-size: 18px;
        padding-left: 15px;
    }

    .arrow-box {
        left: 7%;
    }

    .eye-icon-size-postition {}

    .eye-icon-size-postition-confirm {}

    .main-container-join {
        margin-top: 0px;
    }

    .join-logo {
    }

    .text-privacy-policy {
        width: 117px;
    }

    .signup-main-container {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media screen and (max-width: 350px) {

    .name-icon-size,
    .email-icon-size,
    .lock-icon-size-first,
    .lock-icon-size-second {}

    .inputfield-confirm,
    .inputfield-password,
    .inputfield-email,
    .inputfield-name {}

    .failure-signup-div-message-name-signup,
    .failure-signup-div-message-email-signup,
    .failure-signup-div-message-password-signup,
    .failure-signup-div-message-password-confirm-signup,
    .failure-signup-div-message-all-fields-signup {
        left: 0px;
    }

    .failure-signup-div-message-all-fields-signup {
        word-wrap: break-word;
    }

    .hr-line-signup {
        width: 35%;
    }

    .arrow-box {
        left: 5%;
    }

    .eye-icon-size-postition {}

    .eye-icon-size-postition-confirm {}

    .arrow-left {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-height: 700px) {
    .join-logo {
        top: 20px;
        left: 20px;
    }
}

@media screen and (min-height: 599px) and (max-height: 750px) {
    .signup-main-container {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1280px) and (max-height: 800px) {
    .signup-main-container {
        margin-top: 0px;
    }
}

@media screen and (min-width: 540px) and (max-height: 720px) {
    .main-container-join {
        margin-top: 20px;
    }

    .join-logo {
    }
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
    .main-container-join {
        margin-top: 40px;
    }

    .join-logo {
    }

    .title-text-arrow-div {
        padding-top: 20px;
    }
}